aiogram~=2.21
tqdm~=4.64.0
google-api-python-client~=2.56.0
httplib2~=0.20.4
openpyxl~=3.0.10
XlsxWriter~=3.0.3
Pillow~=9.2.0
pandas~=1.4.3
Django~=4.1
tortoise~=0.1.1
uvicorn~=0.14.0
python-dotenv~=0.20.0
environs~=9.5.0