
.media_container {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    width: 40%;
    height: 40%;
    background-color: #ffffff;
    border-top: 200px;
    border-width: 200px;
    overflow: hidden;
    float: left;
    margin: 0 20px 0 0;
    overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.con_overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 20px;
  text-align: center;
}

.media_container:hover .con_overlay {
  opacity: 1;
}