<script>
var pageWidth = document.documentElement.clientWidth; //Ширина страницы (документа)
var pageHeight = document.documentElement.clientHeight; //Высота страницы (документа)
</script>

{{ pageHeight }}

<div class="bubbles_container">
    <div class="bubbles">
        <span style="--i_clr:12"></span>
        <span style="--i_clr:26"></span>
        <span style="--i_clr:17"></span>
        <span style="--i_clr:11"></span>
        <span style="--i_clr:25"></span>
        <span style="--i_clr:12"></span>
        <span style="--i_clr:14"></span>
        <span style="--i_clr:13"></span>
        <span style="--i_clr:22"></span>
        <span style="--i_clr:20"></span>
        <span style="--i_clr:09"></span>
        <span style="--i_clr:08"></span>
        <span style="--i_clr:25"></span>
        <span style="--i_clr:17"></span>
        <span style="--i_clr:11"></span>
        <span style="--i_clr:12"></span>
        <span style="--i_clr:26"></span>
        <span style="--i_clr:11"></span>
        <span style="--i_clr:21"></span>
        <span style="--i_clr:15"></span>
        <span style="--i_clr:10"></span>
        <span style="--i_clr:39"></span>
        <span style="--i_clr:30"></span>
        <span style="--i_clr:27"></span>
        <span style="--i_clr:12"></span>
        <span style="--i_clr:17"></span>
        <span style="--i_clr:11"></span>
        <span style="--i_clr:24"></span>
        <span style="--i_clr:28"></span>
        <span style="--i_clr:27"></span>
        <span style="--i_clr:12"></span>
        <span style="--i_clr:31"></span>
        <span style="--i_clr:38"></span>
        <span style="--i_clr:11"></span>
        <span style="--i_clr:25"></span>
        <span style="--i_clr:12"></span>
        <span style="--i_clr:14"></span>
        <span style="--i_clr:13"></span>
    </div>
</div>