<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">Навигация</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'greetings' %}">Главная</a></li>

            <div class="dropdown">
                <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Реестры
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'home' %}">Реестр нарушений</a></li>
                    <li><a class="dropdown-item" href="{% url 'register_acts_prescriptions' %}">Реестр актов</a></li>
                    <li><a class="dropdown-item" href="{% url 'register_of_unclosed_points' %}">Реестр незакрытых пунктов</a></li>
                    <li><a class="dropdown-item" href="{% url 'register_normative_documents' %}">Реестр нормативной документации</a></li>
                </ul>
            </div>

            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <form action="{% url 'add_violations' %}" method='post'>
                    <a class="nav-link" href="{% url 'add_violations' %}">Добавить запись</a>
                </form>
            </li>
            {% endif%}

            <span class='navbar-text'>
                {% if request.user.is_authenticated %}
                Добро пожаловать {{ user.username }} <a href="{% url 'logout' %}">Выход</a>
                {% else %}
                <a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Login</a>
                {% endif%}
            </span>

        </ul>

        {% comment %}
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% endcomment %}

        {% comment %}
        {% include 'inc/_list_grid_view.html'%}
        {% endcomment %}
    </div>
</nav>