{% extends 'base.html' %}

{% block title %}
{{ violations_item.title }}::{{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        {{ forloop.counter }}
        Категория: <a href="{{ violations_item.category.get_absolute_url }}">{{ violations_item.category }}</a>
    </div>

    <div class="card-body">
        {% if violations_item.photo %}
        <img id="myImg" src="{{ violations_item.photo.url }}" alt="Snow" style="width:100%;max-width:300px">
        {% else %}
        <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt="Snow">
        {% endif %}

        <h5 class="card-title">{{ violations_item.title }}</h5>
        <p class="card-text">{{ violations_item.content|safe|linebreaks }} </p>
    </div>




    <div class="card-footer text-muted">
        {{ violations_item.created_at }}
        {{ violations_item.created_at|timesince }}
    </div>

</div>
{% endblock %}

