<!doctype html>
{% load static %}
<html lang="en" xmlns:column-count="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" sizes="192x192" href="{% static favicon.ico %}">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/hiddenRow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/a-button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/b-button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media-body_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/img_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/a-counter.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/scroll_panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bubbles_background.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media_container.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icon-bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_modalImg.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/container_card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list_view_or_grid_view.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/box.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/scrollmenu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/btn-group.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/data-table.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/111.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">


    <title>{% block title %} Реестр нарушений {% endblock %}</title>

</head>
<body>
{% include 'inc/_nav.html'%}
{% include 'inc/_bubbles.html'%}
{% include 'inc/_icon-bar.html'%}
{% include 'inc/_scroll_panel.html'%}
{% include 'inc/_pagination.html'%}

<div class="container mt-3">

    <div class="row">
        <div class="col-md-2">
            {% block sidebar %} SIDEBAR {% endblock %}
        </div>
        <div class="col-md-10">
            {% block content %} CONTENT {% endblock %}
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>


<script type="text/javascript" src="{% static 'scripts/custom_scroll_bottom.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/list_view_or_grid_view.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/background_by_value.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/bootstrap-table_111.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/bootstrap-table_222.js' %}"></script>


<script type="text/javascript" src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/sprintf.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/marked.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/flexibility.js' %}"></script>

<script type="text/javascript" src="{% static 'scripts/example.js' %}"></script>


{% include 'inc/_pagination.html'%}
</body>
</html>